:root {
  --main-color: #121212;
  --secondary-color: #242424;
  --text-color: #b3b3b3;
}

body {
  background-color: #000;
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1.2;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  height: 30px;
}

/*SIDEBAR PROPS ==========================================================*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.75rem;
  width: 300px;
}

/*NAVBAR PROPS -----------------------------------------------------------*/
.sidebar__navigation {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.logo {
  display: flex;
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.logo img {
  width: 5rem;
}

.sidebar nav ul {
  margin-top: 1.25rem;
  padding: 0 1.25rem 0.625rem 1.25rem;
}

.sidebar nav ul li {
  padding: 0.625rem 0;
}

.sidebar nav ul li a {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
}

.sidebar nav ul li a:hover {
  color: #fff;
}

/*BIBLIOTECA PROPS -----------------------------------------------------------*/
.sidebar__library {
  margin-top: 0.5rem;
  background-color: var(--main-color);
  border-radius: 8px 8px 0 0;
  padding: 1rem;
}

.library__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.library__button {
  display: flex;
  gap: 0.75rem;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
}

.library__button:hover {
  color: #fff;
}

.library__header span {
  cursor: pointer;
}

/*SUB CONTAINER PROPS -------------------------------------------------------*/
.playlist__container {
  overflowy: scroll;
  display: flex;
  flex-direction: column;
  height: 50px;
  overflow: auto;
}

.playlist__container::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.playlist__container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/*BOXES PROPS -------------------------------------------------------*/
.box__container {
  background-color: var(--secondary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem 1rem 1rem 1.25rem;
  margin: 1rem 0;
}

.box__title {
  font-size: 1rem;
  font-weight: bold;
}

.box__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
}

/*LINKS E SELETOR DE IDIOMAS PROPS ----------------------------------------------*/
.sidebar__links,
.sidebar-language__selector {
  background-color: var(--main-color);
  padding: 1rem 3rem 2rem 2.25rem;
}

.sidebar-language__selector {
  border-radius: 0 0 8px 8px;
}

.sidebar__links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.sidebar__links a {
  color: var(--text-color);
  text-decoration: none;
}

.link__cookies {
  font-size: 0.66rem;
}

.main__link {
  font-size: 0.75rem;
}

.main__link:hover {
  text-decoration: underline;
}

.sidebar-language__selector button {
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: 0.4s;
}

.sidebar-language__selector button:hover {
  border: 1px solid #fff;
  transform: scale(1.05);
}

/*CONTAINER PRINCIPAL PROPS --------------------------------------------------------------*/
main {
  position: fixed;
  top: 0;
  left: 310px;
  right: 0;
  padding: 0.75rem;
}

.main__container {
  background: linear-gradient(var(--secondary-color), var(--main-color) 100%);
  border-radius: 8px;
  height: 545px;
  overflow: auto;
  position: relative;
  width: inherit;
}
.main__container::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.main__container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.header__navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 322px;
  right: 1.5rem;
  background-color: rgba(18, 18, 18, 0.7);
  border-radius: 8px 8px 0 0;
  padding: 0 1rem;
  margin: 0.75rem 0;
}

.navigator {
  display: flex;
  gap: 0.5rem;
}

.navigator span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060606;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.header__right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.header__menu {
  padding: 0.25rem 2rem;
  border-right: 1px solid #fff;
}

.header__menu ul {
  display: flex;
  gap: 1rem;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 0 0 2rem;
}

.header__button {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.header__button:hover {
  color: #fff;
  font-weight: bold;
}

.playlists {
  background-color: transparent;
  height: 1200px;
}

.copyright {
  border-top: 2px solid var(--secondary-color);
  margin: 0 2rem;
  padding: 3rem 0;
}

/*FOOTER PROPS --------------------------------------------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #af2896, #509bf5);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  margin: 0.5rem;
}

.text__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.text__title {
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
}

.text__subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

/*--- ITENS GENÉRICOS ---*/
.white__button {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  color: var(--main-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: 0.4s;
}

.lg__button {
  padding: 1rem 2rem;
}

.white__button:hover {
  transform: scale(1.05);
}
